ul.task-lists {
  list-style: none;
  margin-left: 0; }
  ul.task-lists > li.task-list {
    padding: 15px 0;
    font-weight: bold; }
    ul.task-lists > li.task-list > h4 {
      text-decoration: none;
      margin-bottom: 4px; }
    ul.task-lists > li.task-list a {
      color: #333;
      text-decoration: none;
      cursor: pointer; }
      ul.task-lists > li.task-list a.add-task {
        color: #999;
        font-size: 14px; }
      ul.task-lists > li.task-list a:hover {
        text-decoration: underline; }

.task {
  padding: 2px 0; }
  .task.complete {
    text-decoration: line-through; }

/** WordPress specific styles **/
.entry-content .task input[type="checkbox"] {
  margin-right: 10px; }
.entry-content .task a {
  text-decoration: none; }

.embee-form > div {
  display: block;
  width: 100%;
  line-height: 40px; }
